@font-face {
    font-family: 'artill_clean_weather_iconsRg';
    src: url('../fonts/artill_clean_icons-webfont.eot');
    src: url('../fonts/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/artill_clean_icons-webfont.woff2') format('woff2'),
         url('../fonts/artill_clean_icons-webfont.woff') format('woff'),
         url('../fonts/artill_clean_icons-webfont.ttf') format('truetype'),
         url('../fonts/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	width: 100%;
	height: 100%;
	/*overflow:hidden;*/
}
body, p, a, img {   -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;}
body, ul, li, p {
	font-size: 26px;
	font-family: 'Gotham A','Gotham B';
	font-weight: 400;
	font-style: normal;
}

.columns {
	padding: 0;
}

.top-row .large-4 {
	height: 360px;
	float: left;
}

.top-row .large-4 > .large-6 {
	height: 180px;
	float: left;
}

.large-12 > .large-6 {
	float: left;
}

.top-left {
	background: #fff;
}

.date {
	background: #fff;
	font-size: 40px;
	line-height: 1.1em;
	text-transform: uppercase;
	padding: 20px 0 0 23px;
}

.date span {
	font-weight: 700;
}

.time {
	font-size: 40px;
	line-height: 1.1em;
	text-transform: uppercase;
	padding: 20px 0 0 23px;
	background: #f3dd43;
}

.time div {
	font-weight: 700;
	font-size: 40px;
}

.temp {
	padding: 13px 0 0 23px;
	font-size: 40px;
	font-weight: 700;
	line-height: 1em;
	background: #f3dd43;
}

.temp span {
	position: relative;
	top: -23px;
}

.spotify, .instagram {
	position: relative;
	color:#fff;
	text-shadow: 0px 0px 4px rgba(150, 150, 150, 1);
}

.spotify div, .instagram div {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
}

.spotify {
	text-transform: uppercase;
	line-height: 1em;
}

.spotify p {
	margin: 0;
}

.spotify span {
	font-size: 22px;
}

.album {
	padding: 17px 25px 0;
}

.instagram .icon {
	display: block;
	position: absolute;
	bottom: 15px;
	left: 0;
	color: #fff;
	text-transform: uppercase;
}

.instagram .icon span {
	display: block;
	width: 22px;
	height: 21px;
	background: url('../img/newsocial.png') no-repeat -107px -13px;
	float: left;
	margin: 8px 10px 0 25px;
}

.calendar {
	color: #fff;
	position: relative;
	
	background-image: -webkit-linear-gradient(left,#00245e,#00928f);
	background-image: -o-linear-gradient(right,#00245e,#00928f);
	background-image: -moz-linear-gradient(right,#00245e,#00928f);
	background-image: linear-gradient(to right,#00245e,#00928f);
}

/*.calendar .large-6:first-child {
	background-image: -webkit-linear-gradient(left,#00245e,#00928f);
	background-image: -o-linear-gradient(right,#00245e,#00928f);
	background-image: -moz-linear-gradient(right,#00245e,#00928f);
	background-image: linear-gradient(to right,#00245e,#00928f);
}

.calendar .large-6:nth-child(2) {
	background-image: -webkit-linear-gradient(left,#632587,#232c54);
	background-image: -o-linear-gradient(right,#632587,#232c54);
	background-image: -moz-linear-gradient(right,#632587,#232c54);
	background-image: linear-gradient(to right,#632587,#232c54);
}*/

.calendar .large-6 {
	height: 373px;
}

.calendar .event-wrap {
	margin-right: -15px;
	height: 276px;
	overflow: auto;
}

.calendar .today {
	color: #f9f554;
}

.calendar .today span {
	opacity: 1;
}

.calendar > .large-6 {
	padding: 40px 25px 0 25px;
}

.events-grad {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 20px;
	background: url('../img/event-grad.png') repeat-x bottom left;
}

.calendar ul {
	list-style: none;
	margin: 0;
}

.calendar li {
	border-bottom: 1px solid rgba(255,255,255,0.3);
	margin-bottom: 9px;
	padding-bottom: 9px;
	text-transform: uppercase;
	font-size: 20px;
	line-height: 1em;
	color: #fff;
}

.calendar .event-date {
	display: block;
	opacity: 0.3;
	margin-bottom: 6px;
}

.calendar .event-date span {
	font-weight: 500;
}

.calendar .event-summary {
	display: block;
}

.calendar .event-location {
	display: block;
	opacity: 0.3;
	margin-top: 6px;
}

.meetings, .outofoffice {
	position: relative;
	height: 276px;
	overflow: hidden;
}

.temp {
	position: relative;
}

.races {
	background: #000;
	text-transform: uppercase;
}

.races .cycle-slide {
	width: 100%;
	text-align: center;
}

.race-content {
	padding: 25px 20px 25px 130px;
	color: #fff;
	display: inline-block;
}

.event-until {
	font-weight: 400;
}

.event-name {
	font-weight: 700;
}

.f1 .race-content {
	background: url('../img/logo_f1.png') no-repeat 10px 22px;
	background-size: 100px;
}

.wrc .race-content {
	background: url('../img/logo_wrc2.png') no-repeat 10px 22px;
	padding-left: 150px;
}
.xmas .race-content {
	background: url('../img/logo_xmas2.png') no-repeat 10px 22px;
	padding: 25px 20px 25px 60px;
}
h3 {
	color: #fff;
	margin: 0 0 20px;
	text-transform:uppercase;
}

div.loader {
/*	width: 100%;
	height: 100%;
	background-image: url('../img/ajax-loader.gif');
	background-size: auto;
	background-position: center center;
	background-repeat: no-repeat;*/
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -22px;
	margin-top: -22px;
		border-bottom: 2px solid #fff;
		border-left: 2px solid #2E85DB;
		border-right: 2px solid #2E85DB;
		border-top: 2px solid #2E85DB;
		border-radius: 100%;
		height: 45px;
		width: 45px;
		-webkit-animation: spin .6s infinite linear;
		-moz-animation: spin .6s infinite linear;
		-ms-animation: spin .6s infinite linear;
		-o-animation: spin .6s infinite linear;
		animation: spin .6s infinite linear;
	}

	@keyframes "spin" {
	 from {
	    -webkit-transform: rotate(0deg);
	   	-moz-transform: rotate(0deg);
	   	-o-transform: rotate(0deg);
	   	-ms-transform: rotate(0deg);
	   	transform: rotate(0deg);
	 }
	 to {
	    -webkit-transform: rotate(359deg);
	   	-moz-transform: rotate(359deg);
	   	-o-transform: rotate(359deg);
	   	-ms-transform: rotate(359deg);
	   	transform: rotate(359deg);
	 }

	}

	@-moz-keyframes spin {
	 from {
	   -moz-transform: rotate(0deg);
	   transform: rotate(0deg);
	 }
	 to {
	   -moz-transform: rotate(359deg);
	   transform: rotate(359deg);
	 }

	}

	@-webkit-keyframes "spin" {
	 from {
	   -webkit-transform: rotate(0deg);
	   transform: rotate(0deg);
	 }
	 to {
	   -webkit-transform: rotate(359deg);
	   transform: rotate(359deg);
	 }

	}

	@-ms-keyframes "spin" {
	 from {
	   -ms-transform: rotate(0deg);
	   transform: rotate(0deg);
	 }
	 to {
	   -ms-transform: rotate(359deg);
	   transform: rotate(359deg);
	 }

	}

	@-o-keyframes "spin" {
	 from {
	   -o-transform: rotate(0deg);
	   transform: rotate(0deg);
	 }
	 to {
	   -o-transform: rotate(359deg);
	   transform: rotate(359deg);
	 }

	}

#bar-chart, .bar-chart {
	height: 340px;
	overflow: hidden;
}

.bar-chart {
	background-image: -webkit-linear-gradient(left,#50b849,#fdf042);
	background-image: -o-linear-gradient(right,#50b849,#fdf042);
	background-image: -moz-linear-gradient(right,#50b849,#fdf042);
	background-image: linear-gradient(to right,#50b849,#fdf042);
}

#map {
	height: 350px;
}

.map {
	background-image: -webkit-linear-gradient(left,#00245e,#00928f);
	background-image: -o-linear-gradient(right,#00245e,#00928f);
	background-image: -moz-linear-gradient(right,#00245e,#00928f);
	background-image: linear-gradient(to right,#00245e,#00928f);
}

.map-circle {
	width: 152px;
	height: 152px;
	position: relative;
}

.map-circle svg {
	position: absolute;
	left: 0;
	top: 0;
}

.map-circle svg:nth-child(2) {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
}
.map-circle svg:nth-child(2) path {
    fill: none;
    stroke-width: 15;
    stroke-dasharray: 629;
    stroke: rgba(255, 255, 255, 1);
    -webkit-animation: load 10s;
    -moz-animation: load 10s;
    -o-animation: load 10s;
    animation: load 10s;
}

svg > rect {
    fill: url(#Gradient-1);
}

text.identity {
	transform: translate(74px,0px);
}

.bar-chart svg > g > g > g > g > text {
	transform: translate(0px,-200px);
	-webkit-transform: translate(0px,-200px);
}

.sessions-users {
	background-image: -webkit-linear-gradient(left,#00245e,#00928f);
	background-image: -o-linear-gradient(right,#00245e,#00928f);
	background-image: -moz-linear-gradient(right,#00245e,#00928f);
	background-image: linear-gradient(to right,#00245e,#00928f);
	height: 178px;
	color: #fff;
}

.sessions-users .columns {
	padding: 40px 25px;
	text-transform: uppercase;
}

.sessions-users .columns span {
	font-size: 40px;
	font-weight: 700;
}

.visitors {
	background: #fafafa;
}

.bar-out {
	width: 90%;
	height: 30px;
	position: relative;
	background: #cfd2cb;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
}

.bar-in {
	width: 0;
	height: 30px;
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
	background-image: -webkit-linear-gradient(left,#50b849,#fdf042);
	background-image: -o-linear-gradient(right,#50b849,#fdf042);
	background-image: -moz-linear-gradient(right,#50b849,#fdf042);
	background-image: linear-gradient(to right,#50b849,#fdf042);
}

#returning-visitor .bar-in {
	
}

.bar-out span {
	display: block;
	padding: 0 0 0 16px;
	position: relative;
	z-index: 2;
}

.testchart {
	background-image: -webkit-linear-gradient(left,#50b849,#fdf042);
	background-image: -o-linear-gradient(right,#50b849,#fdf042);
	background-image: -moz-linear-gradient(right,#50b849,#fdf042);
	background-image: linear-gradient(to right,#50b849,#fdf042);
	width: 100%;
	height: 200px;
}


.temp i {
  font-family: "artill_clean_weather_iconsRg";
  font-size: 104px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
  margin-left: -5px;
}

.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }



/* Load animation */
@-webkit-keyframes load{0%{stroke-dashoffset:0}}
@keyframes load{0%{stroke-dashoffset:0}}
/* Container */
#circles {
	height: 178px;
	overflow: hidden;
	padding-top: 10px;
}

.progress-circles {
    position: relative;
    display: inline-block;
    padding: 0;
    text-align: center;
	margin: 0 0 0 60px;
}
/* Item */
.progress-circles>li {
    display: inline-block;
    position: relative;
    text-align: center;
    color: #93A2AC;
    font-weight: 100;
    margin: 20px;
}
/*.progress-circles>li:before {
    content: attr(data-name);
    position: absolute;
    width: 100%;
    bottom: -2rem;
    font-weight:400;
}
.progress-circles>li:after {
    content: attr(data-percent);
    position: absolute;
    width: 100%;
    top: 3.7rem;
    left: 0;
    font-size: 2rem;
    text-align: center;
}*/
.progress-circles svg {
    width: 120px;
    height: 120px;
}
.progress-circles svg:nth-child(2) {
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
}
.progress-circles svg:nth-child(2) path {
    fill: none;
    stroke-width: 15;
    stroke-dasharray: 629;
    stroke: rgba(250, 250, 250, 1);
    -webkit-animation: load 10s;
    -moz-animation: load 10s;
    -o-animation: load 10s;
    animation: load 10s;
}


.progress-circles li {
	margin-right: 200px;
}

.circle-data {
	position: absolute;
	left: 140px;
	top: 18px;
	color: #21204b;
	text-align: left;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 20px;
}

.circle-data span {
	font-size: 40px;
	font-weight: 700;
	line-height: 1.2em;
}

.circle-perc {
	position: absolute;
	color: #21204b;
	left: 0;
	top: 43px;
	width: 100%;
	font-size: 22px;
}

/*.email {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	position: relative;
	width: 100%;
	height: 100%;
}

.inner {
	-webkit-perspective: 100px;
	-moz-perspective: 100pxpx;
	-ms-perspective: 100px;
	perspective: 100px;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0;
	-moz-transition: all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0s;
	-o-transition: all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0;
	transition: all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0;
}

.inner, .back, .front {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 100%;
	height: 100%;
}

.back, .front {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}

.front {
	z-index: 8;
	background: red;
}

.back {
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
	-o-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
	overflow: hidden;
	background: #ffffff;
	padding-top: 5px;
}

.back p {
	-webkit-transition: all 500ms cubic-bezier(0.190,1.000,0.220,1.000) 0;
	-moz-transition: all 500ms cubic-bezier(0.190,1.000,0.220,1.000) 0s;
	-o-transition: all 500ms cubic-bezier(0.190,1.000,0.220,1.000) 0;
	transition: all 500ms cubic-bezier(0.190,1.000,0.220,1.000) 0;
	-webkit-transform: translate3d(0px,50px,0px);
	-moz-transform: translate3d(0px,50px,0px);
	-ms-transform: translate3d(0px,50px,0px);
	-o-transform: translate3d(0px,50px,0px);
	transform: translate3d(0px,50px,0px);
	opacity: 0.001;
	filter: alpha(opacity=0.1);
	font: 0.5em / 8em Helvetica, Arial, sans-serif;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	color: #b31b28;
	margin: 2em 0;
}

.back p span {
	display: block;
	font-size: 4.2em;
}

.email.hover .inner {
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
	-o-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}



.email.hover .back p {
	-webkit-transform: translate3d(0px,0px,0px);
	-moz-transform: translate3d(0px,0px,0px);
	-ms-transform: translate3d(0px,0px,0px);
	-o-transform: translate3d(0px,0px,0px);
	transform: translate3d(0px,0px,0px);
	opacity: 0.999;
	filter: alpha(opacity=99.9);
	line-height: 3.5em;
}
*/

.email {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	position: relative;
	width: 100%;
	height: 100%;
}

.email i {
	font-style: normal;
	position: relative;
	top: -25px;
	display: block;
}

.inner {
	-webkit-perspective: 100px;
	-moz-perspective: 100px;
	-ms-perspective: 100px;
	perspective: 100px;
	/*-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;*/
	-webkit-transition: all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0;
	-moz-transition: all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0s;
	-o-transition: all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0;
	transition: all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0;
	background:white;
}

.inner, .page {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 100%;
	height: 100%;
}

.page {
	/*-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;*/
	background: #f3dd43;
	overflow: hidden;
	z-index: 1;
}
 
.panel1 {background:#50b849;}
.panel2 {background:#00918f;}
.panel3 {background:#ff0000;}

.top {
	z-index: 8;
}
.report-title {padding:25px 0 25px 25px;}
.report-title span {
	font-weight: 500;
}

.rotate {
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
	-o-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}

.page p {
	-webkit-transition: all 500ms cubic-bezier(0.190,1.000,0.220,1.000) 0;
	-moz-transition: all 500ms cubic-bezier(0.190,1.000,0.220,1.000) 0s;
	-o-transition: all 500ms cubic-bezier(0.190,1.000,0.220,1.000) 0;
	transition: all 500ms cubic-bezier(0.190,1.000,0.220,1.000) 0;
	-webkit-transform: translate3d(0px,50px,0px);
	-moz-transform: translate3d(0px,50px,0px);
	-ms-transform: translate3d(0px,50px,0px);
	-o-transform: translate3d(0px,50px,0px);
	transform: translate3d(0px,50px,0px);
	opacity: 0.001;
	filter: alpha(opacity=0.1);
	font-size: 0.7em;
	line-height: 8em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	margin: 1.5em 0;
}

.page p span {
	display: block;
	font-size: 40px;
}

.email.hover .inner {
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
	-o-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}



.top p {
	-webkit-transform: translate3d(0px,0px,0px);
	-moz-transform: translate3d(0px,0px,0px);
	-ms-transform: translate3d(0px,0px,0px);
	-o-transform: translate3d(0px,0px,0px);
	transform: translate3d(0px,0px,0px);
	opacity: 0.999;
	filter: alpha(opacity=99.9);
	line-height: 3em;
}

.email-logo p {
	margin: 61px 0;
}

.tweets {
	
}

.twitter .large-9 {
	padding-right: 30px;
}

.twitter-interstate {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 22px;
	line-height: 1.5em;
	margin-left: 25px;
}

.twitter-interstate span {
	padding-left: 30px;
	background: url('../img/twitter-interstate.png') no-repeat 0 5px;
}

.tweets p {
	margin: 0;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 22px;
	line-height: 1.5em;
}

.tweets a {
	color: #259483;
}

.tweets span {
	display: inline-block;
	padding-left: 26px;
	background: url('../img/tweet.png') no-repeat 6px 10px;
	font-size: 0.8em;
}

.twitter {
	padding: 40px 0;
	overflow: hidden;
}

.spotify-logo {
	position: absolute;
	bottom: 21px;
	left: 21px;
	z-index:200;
}


/* particles */

#particles {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: -webkit-linear-gradient(left,#00245e,#00928f);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
}

.intro {
  position: absolute;
  left: 0;
  top: 50%;
  padding: 0 20px;
  width: 100%;
  text-align: center;
}
.intro h1 img {
	-webkit-transition: all 500ms cubic-bezier(0.190,1.000,0.220,1.000) 0;
	-moz-transition: all 500ms cubic-bezier(0.190,1.000,0.220,1.000) 0s;
	-o-transition: all 500ms cubic-bezier(0.190,1.000,0.220,1.000) 0;
	transition: all 500ms cubic-bezier(0.190,1.000,0.220,1.000) 0;
	opacity:.6;outline: none;}
.intro h1 img:hover {opacity:1;}
#test {
	width: 120px;
	height: 120px;
	background: #0f3d63;
}

#test path {
    fill: none;
    stroke-width: 5;
	
}

#arc0 {stroke: rgba(255, 255, 255, 1);}
#arc1 {stroke: rgba(217, 217, 217, 1);}
#arc2 {stroke: rgba(176, 176, 176, 1);}
#arc3 {stroke: rgba(133, 133, 133, 1);}